/*
* multi-line comment
*/
p{ line-height: 1em; }

body{
    font-family: arial; font-size: 80%; line-height: 1.2em; width: 100%; margin: 0; background: #eee;
}

#topic{
background-color: #eee
  text-align: left;}
